{
  "singleQuote": true,
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }],
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": ["vue"],
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "requireConfig": false
}
